Alex Borgoo <ajborgoo@gmail.com>
André Severo Pereira Gomes <andre.gomes@univ-lille1.fr> Andre Gomes <andre@w0342.wlan.rz.tu-bs.de>
André Severo Pereira Gomes <andre.gomes@univ-lille1.fr> Andre Gomes <andre@w0683.wlan.rz.tu-bs.de>
André Severo Pereira Gomes <andre.gomes@univ-lille1.fr> Andre Gomes <andre@w1284.wlan.rz.tu-bs.de>
André Severo Pereira Gomes <andre.gomes@univ-lille1.fr> andre <andre@cfn218c00.cfn.uni-karlsruhe.de>
Christoph Jacob <c.jacob@tu-braunschweig.de>
Elisa Rebolini <erebolini@kjemi.uio.no>
Jonas Juselius <jonas.juselius@uit.no>
Miroslav Ilias <miro.ilias@gmail.com>
Radovan Bast <radovan.bast@gmail.com> <bast@kth.se> 
Radovan Bast <radovan.bast@gmail.com> <bast@users.noreply.github.com>
Radovan Bast <radovan.bast@gmail.com> <bast@users.noreply.github.com>
Radovan Bast <radovan.bast@gmail.com> <lastname at kth.se>
Radovan Bast <radovan.bast@gmail.com> <radovan.bast@uit.no>
Radovan Bast <radovan.bast@gmail.com> <rbast@users.noreply.github.com>
Roberto Di Remigio <roberto.diremigio@gmail.com> <roberto.d.remigio@uit.no>
Sarah Reimann <sarah.reimann@kjemi.uio.no>
Simen Sommerfelt Reine <simen.reine@kjemi.uio.no> Simen Reine <simen.reine@kjemi.uio.no>
Simen Sommerfelt Reine <simen.reine@kjemi.uio.no> simensr <simen.reine@kjemi.uio.no>
Ulf Ekström <uekstrom@gmail.com> Ulf Ekstrom <uekstrom@gmail.com>
Ulf Ekström <uekstrom@gmail.com> Ulf Ekstrom <ulfek@ulfek-laptop.(none)>
Ulf Ekström <uekstrom@gmail.com> Ulf Ekstrom <ulfek@edscientific.(none)>
Ulf Ekström <uekstrom@gmail.com> Ulf Ekstrom <ulfek@puffe.lan>
Ulf Ekström <uekstrom@gmail.com> Ulf Ekstrom <ulfek@ulfek-laptop.(none)>
